
body {
    background-image: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80);
    background-size: cover;
    background-position: center;
}
html, body {
    height: 100%;
    width:100%;
    font-family: Lato;
    color: white;
}

hr {
    max-width: 90%;
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#content {
    color:white;
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                0px 8px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 700;
    font-size: 5em;
}