<% include ../partials/header %>

    <div class="container">
        <header class="jumbotron">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-lg btn-primary" href="/campgrounds/new">Add
                    new campground</a>
            </p>
        </header>

        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= campground.image %>" alt="">
                        <div class="caption">
                            <h4><%= campground.name %></h4>
                        </div>
                            <p>
                                <a href="/campgrounds/<%= campground._id %>"
                                    class="btn btn-small btn-primary">
                                    more detail
                                </a>
                            </p>
                
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
               
<% include ../partials/footer %>