<% include partials/header %>
<h1>You fell in love with: <%= thing.toUpperCase() %></h1>

<% if(thing.toLowerCase() === "beta"){ %>
    <p>Good boy! Beta is a cuty pie!</P>
<% }else { %>
    <p>They are all cute!</p>
<% } %>
<p>P.S. this is the love.ejs file!</p>

<% include partials/footer %>