body{
    font-family: "Montserrat", "Avenir";
    background-color: #232323;
    margin:0;
}
#container{
    max-width: 600px;
    margin: 20px auto;
    
}
.square {
    width: 30%;
    margin:1.66%;
    padding-bottom: 30%;
    float:left;
    border-radius: 15%;
}
h1{
    color:white;
    background: steelblue;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1.1;
    margin:0;
    padding: 20px 0;
}

#colorPicker{
    text-transform: uppercase;
    font-size: 200%;
}

#choice{
    background: white;
    text-align: center;
    height: 30px;
}
.selected{
    background: steelblue;
    color: white;
}
button{
    color:steelblue;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    height:100%;
    background: none;
    border:none;
    outline: none;
}

button:hover{
    background: steelblue;
    color: white;
}

#message{
    display: inline-block;
    width:20%;
}

