img{
    width: 30%;
    float:left;
    margin:1.66%;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left:1.66%;
    font-size:40px;
    font-weight:300;
    border-bottom:2px #f1f1f1 solid;
    padding-bottom: 1.66%;
    width: 30%;
    text-transform: uppercase;

}