table {
    margin:auto;
}
h1{
    text-align: center;
}
td {
    /* background-color: pink; */
    width: 100px;
    height: 100px;
}
tr td:nth-of-type(2) {
    border-right: 1px black solid;
}
tr td:nth-of-type(1) {
    border-right: 1px black solid;
}
tr:nth-of-type(2) td{
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}
